<div id="page">
    <section style="height: 629px; background-position: 0px 0px;" id="home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div style="padding-top: 284px; padding-bottom: 284px;" class="welcome_block">
            <img src="../images/logo.png" />
        </div>
    </section>
    <section id="top">
        <header>
            <div class="container">
                <nav class="navmenu">
                    <ul>
                        <li class="first active"><a href="#home">Home</a></li>
                        <li class=""><a href="#about">Partners</a>
                            <ul class="dropdown">
                                <li class="last"><a href='#'><span>NOAH THORP</span></a></li>
                                <li class="last"><a href='#'><span>SATOSHI NAKAMOTO</span></a></li>
                                <li class="last"><a href='#'><span>NICK SZABO</span></a></li>
                                <li class="last"><a href='#'><span>JOEL DIETZ</span></a></li>
                                <li class="last"><a href='#'><span>GEORGE W. BUSH</span></a></li>
                            </ul> 
                        </li>
                        <li class=""><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Cases</a></li>
                        <li class="last"><a href="#contact">Contacts</a></li>
                    </ul>
                </nav>
                <a href="javascript:void(0)" class="menu_toggler"></a>
            </div>
        </header>
        <div style="display: none;" class="mobile_menu_wrapper">
            <ul class="mobile_menu container">
                <ul>
                    <li class="first active"><a href="#home">Home</a></li>
                    <li class=""><a href="#about">Partners</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Cases</a></li>
                    <li class="last"><a href="#contact">Contacts</a></li>
                </ul>
            </ul>
        </div>
    </section>
    <section id="about" class="page_section">
        <div class="container" style="margin-top: 17%;">
            <h2  class="opacity tag_line">We are a <span class="dotted">group of people</span> passionate about blockchain & internet technology. We conduct <span class="dotted">innovation programs</span> for <span class="dotted">fortune 500 companies</span>. 
            <span class="dotted">Let’s talk. </span>
        </div>
        <a href="#testimonials" class="down_btn top_btn"></a>
        <div class="dev-partner">
            <h3>Development partner</h3>
            <a href=""><img src="../../images/citizen.png" /></a>
        </div>
    </section>
    
    <section style="background-position: 0px -588px;" id="testimonials" data-stellar-background-ratio="0.5">
        <div class="container">
            <div style="opacity:1;transform:scale(1) ;" class="testimonials_block opacity">
                <div class="tab_container_block">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 partner">
                        <h3> partner </h3>
                        <p>
                            Maecenas justo eros, auctor sed risus quis, molestie auctor nunc. Donec et felis in neque imperdiet euismod. Aliquam sed urna congue, iaculis nulla in, bibendum ex. Curabitur eget vestibulum sem. Cras fringilla velit quis mattis auctor.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 boxes">
                            <div class="members">
                                <h4>NOAH THORP</h4>
                                <div class="sep"></div>
                                <h5>software</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                            <div class="members">
                                <h4>SATOSHI NAKAMOTO</h4>
                                <div class="sep"></div>
                                <h5>big boss</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                             <div class="members">
                                <h4>NICK SZABO</h4>
                                <div class="sep"></div>
                                <h5>elliptic curves</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                            <img src="../../images/joel.png" />
                        </div>
                        <div class="col-md-4 boxes">
                            <div class="members">
                                <h4>GEORGE W. BUSH</h4>
                                <div class="sep"></div>
                                <h5>weapons of mass destruction</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttons_block">
                        <a class="about_btn opacity left_effect" href="#portfolio" style="left:0px;opacity:1;">
                            <span>learn more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="testimonials_fill"></div>
    </section>
    
    <!--services-->
    
    <h2 class="decorated"><span>Services</span></h2>
    
   <section style="background-position: 0px -588px;" id="testimonials" data-stellar-background-ratio="0.5">
        <div class="container">
            <div style="opacity:1;transform:scale(1) ;" class="testimonials_block opacity">
                <div class="tab_container_block">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 bottom">
                        <p>
                            Morbi vel cursus sem, et auctor nulla. Cras pellentesque rutrum libero, vel lacinia justo ultrices id. Donec finibus, mi sed tempus finibus, neque arcu blandit massa, a consequat lorem enim sit amet tellus. Interdum et malesuada fames.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 boxes">
                            <div class="members">
                                <h4>PROGRAM ONE</h4>
                                <div class="sep"></div>
                                <h5>3 months</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                            <div class="members">
                                <h4>PROGRAM TWO</h4>
                                <div class="sep"></div>
                                <h5>6 months</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                            <img src="../../images/time.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttons_block">
                        <a class="about_btn opacity left_effect" href="#portfolio" style="left:0px;opacity:1;">
                            <span>learn more</span>
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="testimonials_fill"></div>
    </section>
   
    <!--cases-->
    <h2 class="decorated"><span>cases</span></h2>
    <section style="background-position: 0px -588px;" id="testimonials" data-stellar-background-ratio="0.5">
        <div class="container">
            <div style="opacity:1;transform:scale(1) ;" class="testimonials_block opacity">
                <div class="tab_container_block">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 bottom">
                        <p>
                            Donec mollis nibh vitae libero placerat commodo. Vivamus quis condimentum sem. In erat lorem, pretium at pulvinar sed, imperdiet eu enim. Nunc dignissim magna mattis ligula vehicula, vel finibus ligula efficitur. 
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 boxes">
                            <img src="../../images/text.png" />
                        </div>
                        <div class="col-md-4 boxes">
                             <div class="members">
                                <h4>GOLDMAN SACHS</h4>
                                <div class="sep"></div>
                                <h5>Reinventing the IPO</h5>
                            </div>
                        </div>
                        <div class="col-md-4 boxes">
                             <div class="members">
                                <h4>TELEFONICA</h4>
                                <div class="sep"></div>
                                <h5>Decentralizing Voip</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttons_block">
                        <a class="about_btn opacity left_effect" href="#portfolio" style="left:0px;opacity:1;">
                            <span>learn more</span>
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="testimonials_fill"></div>
    </section>
    
    <!--contact-->    
    <section style="padding-bottom: 115px;" id="contact">
        <div style="background-position: 0px 82.75px;" class="contact_parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <h3>Contacts</h3>
                    <div class="tab_container_block">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p>
                                We serve clients in and outside the US. Feel free to send us an e-mail so we can jump on a call to discuss your needs.
                            </p>
                        </div>
                        <div class="col-md-4 boxes">
                        </div>
                        <div class="col-md-4 boxes">
                            <img src="../../images/map.png" />
                        </div>
                        <div class="col-md-12">
                            <a class="send-email" href="#portfolio" style="left:0px;opacity:1;">
                                <span>SEND US AN E-MAIL</span>
                            </a>
                        </div>
                        <div class="col-md-12 boxes">
                            <a class="social" href="javascript:void(0);"><img src="../../images/twitter.png" /></a></li>
                            <a class="social" href="javascript:void(0);"><img src="../../images/fb.png" /></a></li>
                            <a class="social" href="javascript:void(0);"><img src="../../images/in.png" /></a></li>
                        </div>
                        <div class="contact-sep"></div>
                        <div class="col-md-12 boxes">
                            <img src="../../images/contact-logo.png" />
                        </div>
                    </div>
                </div>
            </div>
        <div class="contact_parallax_fill"></div>
    </div>
</div>
<header class="fixed-menu"><div class="fixed-menu-wrapper container">
    <nav class="navmenu">
        <ul>
            <li class="first"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class=""><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li class=""><a href="#blog">Blog</a></li>
            <li class="last active"><a href="#contact">Contacts</a></li>
        </ul>
    </nav>
</div></header>